---
const { title, variant, imgSrc } = Astro.props;
import { Image } from "astro:assets";
import Arrow from "../../src/icons/arrowright.svg";
---

<article data-variant={variant}>
  <Image src={imgSrc} alt={title} />
  <h3>{title}</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  </p>
  <a href="#">Read more</a><Image src={Arrow} alt="arrow right" />
</article>

<style>
  article {
    font-family: "Lato";
    background: rgb(255, 255, 255);
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-small);
  }

  [data-variant="primary"] {
    background: rgb(255, 255, 255);
    color: aliceblue;
  }

  /*
  [data-variant="secondary"] {
    background: pink;
    color: black;
  }
  */
</style>
