---
const { title, imgSrc } = Astro.props;
import { Image } from "astro:assets";
import InstagramIcon from "../../src/icons/instagram.svg";
import FacebookIcon from "../../src/icons/facebook.svg";
import TwitterIcon from "../../src/icons/twitter.svg";
---

<div class="card_container">
  <Image class="firstimg" src={imgSrc} alt={title} />
  <h3>{title}</h3>
  <p>
    Leverage agile frameworks to provide a robust synopsis for high level
    overviews.
  </p>
  
  <div class="icons">
    <Image src={InstagramIcon} alt="Instagram" />
    <Image src={FacebookIcon} alt="Facebook" />
    <Image src={TwitterIcon} alt="Twitter" />
  </div>
</div>

<style>
  .card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    display: flex;
    gap: 1rem;
  }

  .firstimg {
    border-radius: var(--border-radius-med);
    width: 100%;
    max-width: clamp(13rem, 20vw, 20rem);
    margin: auto;
  }
</style>
